@import "mixin.scss";

$primary-color: wheat;
$secondary-color: PapayaWhip;

body {
    background-color: $primary-color;
}

.page-title {
    background-color: $secondary-color;
    border-radius: 25px;
}

.add-task {
    background-color: $primary-color;
}

.task-name {
    background-color: $secondary-color;
}

.task-desc {
    background-color: $secondary-color;
}